@font-face {
  font-family: 'Futura-Normal';
  url(../fonts/futura-normal.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  url(../fonts/futura-bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
